 .accDelbutton{
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    letter-spacing: 1px;
 }


.accDelbutton:hover{
    color: #2997ff;
}

A {
    color: rgba(255, 255, 255, 1); /* Цвет ссылок */
   }
   A:visited {
    color:  rgba(255, 255, 255, 1); /* Цвет посещенных ссылок */
   }
   A:active {
    color: rgba(255, 255, 255, 1); /* Цвет активных ссылок */
   }
